@import "../../styles/mixins.scss";
$color-background: rgb(243, 95, 41);
$color-background-2: rgb(223, 66, 9);
$color-font: rgb(255, 255, 255);
$color-font-2: rgb(22, 68, 148);
$size-font-smaller: 1rem;
$size-font-small: 1.5rem;
$size-font-normal: 2rem;
$size-font-big: 3rem;
$size-font-bigger: 4rem;

.libraryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  overflow-y: scroll;
  position: relative;
  gap: 1rem;
  .panelHeaderLibrary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    @include responsive(desktop) {
    }
    @include responsive(laptop) {
    }

    @include responsive(tablet) {
    }
    @include responsive(phone) {
      flex-direction: column;
    }
  }
  .listContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-right: 0.2rem;
    width: 100%;

    @include responsive(desktop) {
      justify-content: center;
    }
    @include responsive(laptop) {
    }

    @include responsive(tablet) {
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
    @include responsive(phone) {
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}
