@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin latop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.listItem {
  position: relative;
  background-color: rgba(30, 78, 133, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 10px;
  gap: 1rem;
  width: 11rem;
  height: 15rem;
  @include latop {
    flex-direction: row;
    width: 13rem;
    height: 7rem;
    justify-content: flex-start;
    align-items: center;
  }
  @include tablet {
    width: 13rem;
    height: 5rem;
  }
  @include mobile {
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    .containerPlay {
      opacity: 1;
    }
  }

  .images {
    width: 80px;
    height: 80px;
    align-self: center;
    @include latop {
      width: 60px;
      height: 60px;
    }
    @include tablet {
      width: 50px;
      height: 50px;
    }
    @include mobile {
      width: 45px;
      height: 45px;
    }
  }
  .itemDescription {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    h4 {
      @include latop {
        font-size: small;
        font-weight: 400;
      }
      @include tablet {
        font-size: small;
      }
      @include mobile {
      }
    }
    .tracks {
      font-size: smaller;
      font-weight: 300;
      color: silver;
      @include latop {
        font-size: x-small;
      }
      @include tablet {
      }
      @include mobile {
      }
    }
  }
  .containerPlay {
    position: absolute;
    bottom: 5px;
    right: 5px;
    opacity: 0;
    background-color: rgb(253, 133, 90);
    color: rgba(33, 64, 99);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
  }
  .containerPlay.zeroSong {
    background-color: rgb(124, 124, 124);
    color: black;
  }
}
