@import "../styles/mixins.scss";

.barContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1rem;
  width: 100%;
  @include responsive(desktop) {
    gap: 1rem;
  }
  @include responsive(laptop) {
    gap: 0.8rem;
  }
  @include responsive(tablet) {
    gap: 0.7rem;
  }
  @include responsive(phone) {
    gap: 0.5rem;
  }
  .bar {
    border-radius: 3px;
    width: 200px;
    height: 10px;
    background-color: rgb(46, 77, 131);
    @include responsive(desktop) {
      width: 200px;
    }
    @include responsive(laptop) {
      width: 190px;
    }
    @include responsive(tablet) {
      width: 180px;
    }
    @include responsive(phone) {
      width: 130px;
    }
  }
}
