@import "../styles/mixins.scss";
$background-color: rgb(253, 133, 90);
$button-color-1: rgb(185, 183, 183);
$button-color-2: rgb(255, 255, 255);

.buttonsActions {
  flex: 0.5;
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  align-items: center;
  @include responsive(desktop) {
    gap: 1.5rem;
  }
  @include responsive(laptop) {
    gap: 1.4rem;
  }
  @include responsive(tablet) {
    gap: 1.3rem;
  }
  @include responsive(phone) {
    gap: 0.5rem;
  }
  .buttonpanel {
    color: $button-color-1;
    &:hover {
      cursor: pointer;
      color: $button-color-2;
    }
    @include responsive(phone) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  .buttonpanelActive {
    color: $background-color;
    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
    @include responsive(desktop) {
    }
    @include responsive(laptop) {
    }
    @include responsive(tablet) {
    }
    @include responsive(phone) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  .buttonPlay {
    color: $button-color-2;
    background-color: $background-color;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
    @include responsive(desktop) {
    }
    @include responsive(laptop) {
    }
    @include responsive(tablet) {
    }
    @include responsive(phone) {
      height: 1.7rem;
      width: 1.7rem;
    }
  }
}
