@import "../styles/mixins.scss";
$color-background: rgb(243, 95, 41);
$color-background-2: rgb(223, 66, 9);
$color-font: rgb(255, 255, 255);
$color-font-2: rgb(22, 68, 148);
$size-font-smaller: 0.7rem;
$size-font-small: 1rem;
$size-font-normal: 1.5rem;
$size-font-big: 2rem;
$size-font-bigger: 3rem;

.itemContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  background-color: rgba(30, 78, 133, 0.5);
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  @include responsive(desktop) {
    width: 200px;
    height: 300px;
  }
  @include responsive(laptop) {
    width: 180px;
    height: 280px;
  }
  @include responsive(tablet) {
    width: 200px;
    height: 350px;
  }
  @include responsive(phone) {
    width: 200px;
    height: 350px;
  }

  &:hover {
    cursor: pointer;
    .modal {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.432);
      z-index: 2;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include responsive(desktop) {
        width: 200px;
        height: 300px;
      }
      @include responsive(laptop) {
        width: 180px;
        height: 280px;
      }
      @include responsive(tablet) {
        width: 200px;
        height: 350px;
      }
      @include responsive(phone) {
        width: 200px;
        height: 350px;
      }
    }
  }
  .modal {
    display: none;
    .button {
      display: block;
      width: 30%;
      height: 30%;
      color: rgb(253, 133, 90);
    }
  }

  .imgItem {
    width: 15rem;
    height: 15rem;
    flex: 7;
    border-radius: 10px;
    @include responsive(desktop) {
      width: 10rem;
      height: 10rem;
    }
    @include responsive(laptop) {
      width: 9rem;
      height: 9rem;
    }
    @include responsive(tablet) {
      width: 11rem;
      height: 11rem;
    }
    @include responsive(phone) {
      width: 11rem;
      height: 11rem;
    }
  }
  .textContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;

    border-radius: 10px;
    align-items: center;
    gap: 1rem;

    @include responsive(desktop) {
      gap: 1rem;
    }
    @include responsive(laptop) {
      gap: 0.8rem;
    }
    @include responsive(tablet) {
      gap: 0.8rem;
    }
    @include responsive(phone) {
      gap: 0.8rem;
    }

    .descriptionItem {
      white-space: nowrap; /* Evita que el texto se divida en líneas */
      overflow: hidden; /* Oculta el texto que desborda del div */
      text-overflow: ellipsis; /* Muestra los tres puntos (...) cuando el texto desborda */
      color: silver;
      padding: 0 2% 0 2%;
      width: 10rem;
      margin-left: 1rem;
      @include responsive(desktop) {
        font-size: $size-font-small;
        width: 10rem;
      }
      @include responsive(laptop) {
        font-size: $size-font-smaller;
        width: 9rem;
      }
      @include responsive(tablet) {
        font-size: $size-font-small;
        width: 9rem;
      }
      @include responsive(phone) {
        font-size: $size-font-small;
        width: 9rem;
      }
    }
    .nameItem {
      white-space: nowrap; /* Evita que el texto se divida en líneas */
      overflow: hidden; /* Oculta el texto que desborda del div */
      text-overflow: ellipsis; /* Muestra los tres puntos (...) cuando el texto desborda */

      width: 10rem;
      margin-left: 1rem;
      @include responsive(desktop) {
        font-size: $size-font-small;
        width: 10rem;
      }
      @include responsive(laptop) {
        font-size: $size-font-smaller;
        width: 9rem;
      }
      @include responsive(tablet) {
        font-size: $size-font-small;
        width: 9rem;
      }
      @include responsive(phone) {
        font-size: $size-font-small;
        width: 9rem;
      }
    }
  }
}
