$color-background: rgb(131, 130, 130);
$color-font: rgb(243, 95, 41);

.rowLike {
  max-height: 2.5rem;
  max-width: 2.5rem;
  text-align: center;
}
.rowLike.like {
  color: $color-font;
  cursor: pointer;

  &:hover {
    color: $color-background;
  }
}
.rowLike.unLike {
  color: $color-background;

  &:hover {
    color: $color-font;
  }
  cursor: pointer;
}
