@import "../styles/mixins.scss";
$color-background: rgb(243, 95, 41);
$color-background-2: rgba(223, 66, 9, 0.568);
$color-background-3: rgb(22, 68, 148);
$color-font: rgb(255, 255, 255);
$color-font-2: rgb(1, 23, 61);
$size-font-smaller: 1rem;
$size-font-small: 2rem;
$size-font-normal: 3rem;
$size-font-big: 4rem;
$size-font-bigger: 5rem;
.menuContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient($color-background, $color-background-3);
  color: $color-font;
  justify-content: center;
  flex: 1;
  align-items: center;
  padding: 10px;
  font-size: $size-font-bigger;
  height: 100%;

  @include responsive(desktop) {
    font-weight: 400;
  }
  @include responsive(laptop) {
    font-size: small;
    font-weight: 350;
  }
  @include responsive(tablet) {
    font-size: x-small;
    font-weight: 200;
  }
  @include responsive(phone) {
    font-size: x-small;
    font-weight: 100;
  }

  .settingsContainer {
    flex: 2;
    align-items: center;
  }

  .imgContainer {
    flex: 2;
    align-items: center;
  }
  .imageUsr {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .navContainer {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: medium;
  }
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: max-content;
    padding: 0.3rem;
    border-radius: 3px;
    @include responsive(desktop) {
    }
    @include responsive(laptop) {
      padding: 0.2rem;
      font-size: small;
      font-weight: 200;
    }
    @include responsive(tablet) {
      padding: 0.1rem;
      font-size: x-small;
      font-weight: 100;
    }
    @include responsive(phone) {
      padding: 0.1rem;
      font-size: x-small;
      font-weight: 100;
    }
  }
  .icon-active {
    background-color: $color-background-2;
    font-weight: 700;
    @include responsive(desktop) {
    }
    @include responsive(laptop) {
      padding: 0.2rem;
      font-size: small;
      font-weight: 200;
    }
    @include responsive(tablet) {
      padding: 0.1rem;
      font-size: x-small;
      font-weight: 100;
    }
    @include responsive(phone) {
      padding: 0.1rem;
      font-size: x-small;
      font-weight: 100;
    }
  }
}
