@import "../styles/mixins.scss";
.formContainer {
  margin: 0.5rem;
  display: flex;
  justify-content: flex-start;

  .labelSearcher {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.3rem;
    background-color: rgba(13, 43, 95, 0.836);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 2rem;
  }
  .textSearcher {
    background-color: rgba(46, 77, 131, 0.603);
    color: white;
    border-color: none;
    border-radius: 5px;
    padding: 0.3rem;
    height: 2rem;
    width: 13rem;
  }
}
