$spinner-size: 50px;
$spinner-color: rgb(243, 95, 41);
$spinner-color-border: rgb(22, 68, 148);
$spinner-speed: 1s;

.containerSpinner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  .spinner {
    animation: spin $spinner-speed linear infinite;
  }

  .spinner.normal {
    margin: auto;
    border: 4px solid $spinner-color-border;
    border-radius: 50%;
    border-top: 4px solid $spinner-color;
    width: $spinner-size;
    height: $spinner-size;
  }
  .spinner.big {
    margin: 50px auto;
    border: 10px solid $spinner-color-border;
    border-radius: 50%;
    border-top: 10px solid $spinner-color;
    width: 200px;
    height: 200px;
  }
  .spinner.small {
    border: 4px solid $spinner-color-border;
    border-radius: 50%;
    border-top: 4px solid $spinner-color;
    width: 30px;
    height: 30px;
    margin: 10px auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
