@import "../../../styles/mixins.scss";

.progressiveCircleContainer {
  width: 340px;

  @include responsive(laptop) {
  }

  @include responsive(tablet) {
    display: none;
  }
  @include responsive(phone) {
    display: none;
  }
}

.imageActive {
  animation: rotation 30s infinite ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
