@import "../../styles/mixins.scss";
.favoriteContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
  gap: 1rem;
  position: relative;
  @include responsive(tablet) {
    overflow-y: scroll;
  }
  @include responsive(phone) {
    overflow-y: scroll;
  }
}
