@import "../../styles/mixins.scss";

.favItem {
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(46, 77, 131, 0.308);
  color: rgb(253, 133, 90);
  width: 60rem;
  &:hover {
    cursor: pointer;
  }
  @include responsive(laptop) {
    width: 40rem;
  }
  @include responsive(tablet) {
    width: 24rem;
  }
  @include responsive(phone) {
    width: 14rem;
  }
  &:hover {
    background-color: rgba(72, 117, 194, 0.308);
  }

  .favNum {
    flex: 0.5;
    text-align: center;
  }
  .favName {
    align-items: center;
    display: flex;
    gap: 5rem;
    flex: 8;
    @include responsive(laptop) {
      flex: 7;
    }

    @include responsive(tablet) {
      flex: 5;
      gap: 1rem;
    }
    @include responsive(phone) {
      gap: 1rem;
      flex: 3;
      flex-direction: column;
    }

    .favImages {
      width: 8rem;
      height: 8rem;
      @include responsive(laptop) {
        width: 8rem;
        height: 8rem;
      }

      @include responsive(tablet) {
        width: 6rem;
        height: 6rem;
      }
      @include responsive(phone) {
        width: 4rem;
        height: 4rem;
      }
    }
    .nametrackLayout {
      display: flex;
      flex-direction: column;

      flex: 1;
      .favTrack {
        font-size: large;
        font-weight: 300;
        @include responsive(laptop) {
          font-size: medium;
          font-weight: 300;
        }

        @include responsive(tablet) {
          font-size: small;
          font-weight: 300;
        }
        @include responsive(phone) {
          font-size: smaller;
          white-space: nowrap; // Prevent text wrapping
          overflow: hidden; // Hide overflowing text
          text-overflow: ellipsis;
          width: 9rem;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
      .favArtist {
        font-size: large;
        font-weight: 600;
        @include responsive(laptop) {
          font-size: medium;
        }

        @include responsive(tablet) {
          font-size: small;
        }
        @include responsive(phone) {
          font-size: smaller;
          width: 9rem;
          text-align: center;
          white-space: nowrap; // Prevent text wrapping
          overflow: hidden; // Hide overflowing text
          text-overflow: ellipsis;
        }
      }
    }
  }
  .timeTrack {
    font-size: smaller;
  }
}
