@import "../../styles/mixins.scss";
.favoriteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: flex-start;
  overflow-y: scroll;

  .favList {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 0.3rem;
  }
}
