@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin latop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
.favoriteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: scroll;

  .favList {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 0.3rem;
  }
}
