@import "../../../styles/mixins.scss";
.recommendationListLayout {
  background-color: rgba(31, 50, 83, 0.596);
  border-radius: 10px;
  padding: 2rem;
  height: 100%;
  overflow-y: hidden;

  @include responsive(laptop) {
    display: none;
  }
  @include responsive(tablet) {
    display: none;
  }
  @include responsive(phone) {
    display: none;
  }
  .titleExplore {
    color: silver;
    .artist {
      background: linear-gradient(to right, #ff8a00, #e52e2e);
      -webkit-background-clip: text;
      color: transparent; /* Set text color to transparent to reveal the gradient */
      display: inline-block; /* Ensure the gradient only affects the text */
      font-size: larger;
      font-weight: 700;
    }
  }

  .recommendations {
    flex-wrap: wrap;
    overflow-y: scroll;
    display: flex;
    height: 17rem;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0.5rem;
    white-space: nowrap;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    max-height: 100%;
  }
}
