@import "../../../styles/mixins.scss";

.playListContainer {
  background-color: rgba(78, 131, 223, 0.616);
  flex: 4;
  border-radius: 10px;
  padding: 0.5rem;
  overflow-y: scroll;
  width: 20rem;
  max-width: 100%;
  max-height: 100%;

  @include responsive(desktop) {
    width: 20rem;
  }
  @include responsive(laptop) {
    width: 19rem;
    height: 19rem;
  }
  @include responsive(tablet) {
    width: 22rem;
  }
  @include responsive(phone) {
    width: 14rem;
  }
  .listLayout {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}
