@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/* reset browser default */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  color: white;
}

p {
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(253, 133, 90);
  border-radius: 20px;
  border: 2px solid rgb(253, 133, 90);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(204, 78, 32);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
