.trendingContainer {
  width: 100%;
  height: 100%;
  padding: 3%;
  display: flex;
  gap: 3%;
  overflow: scroll;
  flex-direction: column;
  .trendingList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
  }
  .titleTreding {
    font-size: larger;
    font-weight: 700;
  }
}
